
<nav class="navbar">
  <div class="container">
    <img class="navbar-brand" src="assets/images/logo.png" alt="Logo">

    <ul class="navbar-links">
      <mat-button-toggle-group class="custom-toggle-group" name="options" aria-label="Toggle Options" value="inicio">
        
        

        <mat-button-toggle value="inicio">
          <i class="fas fa-home" style="position: relative; top: -0.2vh "></i>
          Início
        </mat-button-toggle>
        <mat-button-toggle value="favoritos" >
          <i class="fas fa-heart" style="position: relative; top: -0.1vh "></i>
          Favoritos
          {{ favoriteCount }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      
    </ul>
  </div>
</nav>

