<nav class="navbar">
  <img class="navbar-brand" src="assets/images/logo.png" alt="Logo">

  <div class="mobile-menu-toggle" (click)="toggleMenu()">
    <i class="fas fa-bars"></i> 
  </div>

  <ul class="navbar-links" [class.open]="menuOpen">
    <mat-button-toggle-group 
      class="custom-toggle-group" 
      name="options" 
      aria-label="Toggle Options" 
      value={{activeRoute}}
    >
      <mat-button-toggle [value]="'/'" (click)="closeMenu()" routerLink="/">
        <i class="fas fa-home" style="position: relative; top: -0.2vh; left: -0.3vw "></i>
        <span class="link-text">Início</span>
      </mat-button-toggle>

      <mat-button-toggle [value]="'/favorites'" (click)="closeMenu()" routerLink="/favorites">
        <div class="toggle-content">
          <i class="fas fa-heart" style="position: relative; "></i>
          <span class="link-text">Favoritos</span>
          <div class="favorite-count">
            {{ favoriteCount }}
          </div>
        </div>


      </mat-button-toggle>
    </mat-button-toggle-group>
  </ul>
</nav>
