
.navbar {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  background-color: #0A0A0A;
  color: white;
  height: 64px;
  padding: 0 1.6vw;

  // .container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   height: 5vh;
  // }

  .navbar-brand {
    height: 64px;
    gap: 0px;
    opacity: 0px;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      a {
        color: white;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

.custom-toggle-group {
  display: flex;
  border-radius: 15px; 
  overflow: hidden; 
  display: inline-flex;
  border: 1px solid #3D3D3D; 
  width: 253px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}


.custom-toggle-group .mat-button-toggle {
  display: flex;
  border-radius: 0; 
  background-color: transparent; 
  color: #A4A4A4; 
  align-items: center;
}

.custom-toggle-group .mat-button-toggle:first-child {
  display: flex;
  flex-grow:1;
  gap: 20vw;
}

.custom-toggle-group .mat-button-toggle:last-child {
  display: flex;  
  flex-grow:1;
  gap: 2vw;
}






.custom-toggle-group .mat-button-toggle-checked {
  background-color: white; 
  color: #0A0A0A; 
}


.custom-toggle-group .mat-button-toggle:not(.mat-button-toggle-checked) {
  background-color: transparent; 
}


}

.favorites-container {
  display: flex;
}

.favorites-count {
  width: 5px;
}