.navbar {
  display: flex;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: #0A0A0A;
  color: white;
  height: 5vw;
  padding: 1vh 1.7vw;
  



  .navbar-brand {
    height: 5.6vw;
  }

  .custom-toggle-group {
    display: flex;
    border-radius: 15px; 
    overflow: hidden; 
    display: inline-flex;
    border: 1px solid #3D3D3D; 
    width: 20vw;
    height: 3vw;
    font-family: "Poppins", sans-serif;
    font-size: 1.15vw;
    font-weight: 500;
    font-style: normal;
  }

  .custom-toggle-group .mat-button-toggle {
    display: flex;
    border-radius: 0; 
    background-color: transparent; 
    color: #A4A4A4; 
    align-items: center;
    justify-content: start;
  }

  .custom-toggle-group .mat-button-toggle:first-child {
    display: flex;
    align-items: center;
    flex-grow:1;
  }

  .custom-toggle-group .mat-button-toggle:last-child {
    display: flex;  
    align-items: center;
    flex-grow:1;
  }

  .custom-toggle-group .mat-button-toggle-checked {
    background-color: white; 
    color: #0A0A0A; 

    .favorite-count {
      width: 1.7vw; 
      height: 1.7vw; 
      border-radius: 50%; 
      background-color: var(--rickandmorty-black);
      color: #fff; 
    }
  }

  .custom-toggle-group .mat-button-toggle:not(.mat-button-toggle-checked) {
    background-color: transparent; 
  }

  .toggle-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4vw;
    width: 100%;
  }

  .favorite-container {
    position: relative; 
    display: inline-block;
  }

  .favorite-count {
    width: 1.3vw; 
    height: 1.3vw; 
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
    color: var(--rickandmorty-black); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.9vw; 
    font-weight: bold; 
    border: 2px solid white;
  }
}

.mobile-menu-toggle {
  display: none;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}



@media (max-width: 768px) {
  .navbar {
    height: 7vh;
    padding: 0 3vw;

    .navbar-brand {
      width: 30vw;
      height: auto;
    }

    .custom-toggle-group {
      width: 90vw; 
      height: 6vh;
      font-size: 1rem;
      align-self: center;
    }
  
    .custom-toggle-group .mat-button-toggle {
      justify-content: center; 
    }

    .favorite-count {
      width: 4vw;
      height: 4vw;
      margin: 0 1vw;
      font-size: 3vw;
    }
  }

  .mobile-menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #0A0A0A;
    z-index: 1;
  }



  .navbar-links.open {
    display: flex;
    padding: 2vh 0;
    justify-content: center;
  }


  

  
}
