<div class="character-card">
  <button 
    class="character-card__icon" 
    [ngClass]="{'character-card__icon--favorite': isFavorite, 'character-card__icon--non-favorite': !isFavorite}" 
    (click)="toggleFavorite()"
  >
    <i [ngClass]="isFavorite ? 'fas fa-heart' : 'fa-regular fa-heart'"></i>
  </button>
  <img class="character-card__image" [src]="characterImage" [alt]="characterName">
  <div class="character-card__info">
    <div class="character-card__title"> 
      <h2 class="character-card__name">{{ characterName }}</h2>
      <p class="character-card__subtitle">{{ characterSubtitle }}</p>
      <p class="character-card__subtitle">{{ characterType }}</p>
    </div>
  </div>
</div>
