<div class="character-card">
  <div class="favorite-icon" *ngIf="isFavorite"> 
    <i class="fas fa-heart"></i>
  </div>
  <div class="non-favorite-icon" *ngIf="!isFavorite"> 
    <i class="fa-regular fa-heart"></i>
  </div>
  <img class="character-image" [src]="characterImage" [alt]="characterName">
  <div class="character-info">
    <div class="character-title"> 
      <h2 class="character-name">{{ characterName }}</h2>
      <p class="character-subtitle">{{ characterSubtitle }}</p>
    </div>
  </div>
</div>
