<div class="favorites-superior">
  <div class="favorites-title"> Favoritos </div>
</div>


<ng-container *ngIf="favorites$ | async as favorites; else loadingState">
  <app-message-box *ngIf="favorites.length === 0" 
    title="Parece que você ainda não tem favoritos" 
    subtitle="Volte à página inicial e escolha os melhores para você." 
    [showButton]="true">
    <button class="message-button" routerLink="/">Voltar ao Início</button>
  </app-message-box>

  <!-- Exibe os personagens se houver favoritos -->
  <div *ngIf="favorites.length > 0" class="character-container">
    <app-character-card 
      *ngFor="let character of favorites" 
      [characterId]="character.id"
      [characterName]="character.name" 
      [characterSubtitle]="character.species" 
      [characterType]="character.type" 
      [characterImage]="character.image" 
      [isFavorite]="true"  
      (toggleFavorite)="toggleFavorite(character.id)">
    </app-character-card>
  </div>
</ng-container>


<ng-template #loadingState>
  <app-message-box 
    title="Carregando favoritos..." 
    subtitle="Aguarde enquanto carregamos a aplicação." 
    [showButton]="false">
  </app-message-box>
</ng-template>
