<div class="home-superior">
  <div class="home-title"> Início </div>
  <app-search-box 
  (searchTermChanged)="onSearch($event)" 
  (searchTermCleared)="handleEmptySearch()"
  style="margin: 0; padding: 0">
  </app-search-box>
</div>

<!-- Exibe a mensagem de erro se houver erro -->
<app-message-box *ngIf="errorMessage" title="Nada foi encontrado" subtitle="Tente realizar uma nova busca." [showButton]="false">
</app-message-box>

<!-- Exibe os personagens se não houver erro -->
<div *ngIf="!errorMessage && characters.length > 0" class="character-container">
  <app-character-card 
    *ngFor="let character of characters" 
    [characterId]="character.id"
    [characterName]="character.name" 
    [characterSubtitle]="character.species" 
    [characterType]="character.type" 
    [characterImage]="character.image" 
    [isFavorite]="isFavorite(character.id)">
  </app-character-card>
</div>

<!-- Paginação só aparece se não houver erro -->
<div *ngIf="!errorMessage" class="pagination-controls">
  <button (click)="goToFirstPage()" [disabled]="currentPage === 1"> <i class="fas fa-angle-double-left"></i> </button>
  <button (click)="previousPage()" [disabled]="currentPage === 1"> <i class="fas fa-angle-left"></i> </button>
  <span class="pagination-number">{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages"> <i class="fas fa-angle-right"></i> </button>
  <button (click)="goToLastPage()" [disabled]="currentPage === totalPages"> <i class="fas fa-angle-double-right"></i> </button>
</div>
