@import 'src/styles.scss'; 

.home-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5vh 0;
  height: 8vh;
}


.home-title {
  @include creepster-title;
  position: relative;
}

.error-message {
  display: flex;
  width: 100%;
  height: 40vh;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 2vh 3vw;
  background-color: var(--rickandmorty-black)
}





.pagination-controls {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 1.5vh 0;
  font-size: 1.2vw; 

  .pagination-number {
    @include creepster-title;
    font-size: 2rem;
    cursor: default;
  }

  button {
    background-color: var(--rickandmorty-green); 
    height: 6.5vh;
    width: 3vw;
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 0.5vh 1vw;
    margin: 0 0.5vw; 
    cursor: pointer; 
    transition: transform 0.1s; 

    &:hover {
      transform: scale(1.1);

      i {
        transform: scale(1.2);
      }
    }

    &:disabled {
      background-color: var(--rickandmorty-black); 
      cursor: not-allowed; 

      i {
        color: white;
      }
    }
  }

  span {
    margin: 0 1vw; 
  }

  i {
    color: var(--rickandmorty-blue);
    transition: transform 0.2s ease;
  }



}

@media only screen and (max-width: 768px) {
  .home-superior {
    display: flex;
    margin: 12vh 0 2vh 0;
  }

  .home-title {
    font-size: 2rem;
  }

  .character-container {
    justify-content: center;
    width: 100%;
    gap: 5vw;
  }

  .pagination-controls {
    gap: 0.9vw;
  }

  .pagination-controls button {
    width: 10vw;
  }

  .pagination-number {
  }
}

