<div class="home-superior">
  <div class="home-title"> Início </div>
  <app-search-box style="margin: 0; padding: 0"></app-search-box>
</div>

<div class="character-container">
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
  <app-character-card></app-character-card>
</div>



