@import 'src/styles.scss'; 

.home-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5vh 0;
}


.home-title {
  @include creepster-title;
  position: relative;
}

.character-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.pagination-controls {
  display: flex;
  justify-content: center; /* Centraliza os botões de paginação */
  align-items: center; /* Alinha verticalmente os itens */
  margin: 1.5vh 0; /* Espaçamento vertical */
  font-size: 1.2vw; /* Tamanho da fonte */

  button {
    background-color: #007bff; /* Cor de fundo dos botões */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 0.5vh 1vw; /* Espaçamento interno */
    margin: 0 0.5vw; /* Margem entre os botões */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */

    &:hover {
      background-color: #0056b3; /* Cor do botão ao passar o mouse */
    }

    &:disabled {
      background-color: #c0c0c0; /* Cor de fundo quando desabilitado */
      cursor: not-allowed; /* Cursor de não permitido */
    }
  }

  span {
    margin: 0 1vw; /* Margem entre o texto e os botões */
  }
}