<div class="home-superior">
  <div class="home-title"> Início </div>
  <app-search-box (searchTermChanged)="onSearch($event)" style="margin: 0; padding: 0"></app-search-box>
</div>

<div class="character-container">
  <app-character-card 
    *ngFor="let character of characters" 
    [characterId]="character.id"
    [characterName]="character.name" 
    [characterSubtitle]="character.species" 
    [characterType]="character.type" 
    [characterImage]="character.image" 
    [isFavorite]="isFavorite(character.id)">
  </app-character-card>
</div>

 <!-- Área de paginação -->
<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 1"> <i class="fa-solid fa-arrow-left"></i> </button>
  <span class="pagination-number">{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages"> <i class="fa-solid fa-arrow-right"></i> </button>
</div>
