@import 'src/styles.scss'; 

.home-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5vh 0;
}


.home-title {
  @include creepster-title;
  position: relative;
}

.character-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}